/* Ali codes */


/* Razieh codes */
*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    --beige-background: #f0e7cd;
    --dark-green: #28332d;
    font-family: "Fire Sans", sans-serif;
}

ul{
    list-style: none;
}

body{
    background: var(--beige-background)
}

.menu h2{
    color: #a59f6d;
}

.menu-titles{
    background: var(--dark-green);
    color: #a59f6d;
}

.menu-images{
    background: url(../images/header-bg.jpg);
}

.dark-green-divider{
    background: var(--dark-green);
}

/* Abdulwahed codes */