/* Ali codes */


/* Razieh codes */
*{
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
    --beige-background: #f0e7cd;
    --dark-green: #29342e;
    font-family: "Fire Sans", sans-serif;
}

ul{
    list-style: none;
}

body{
    background: var(--beige-background)
}

/* Abdulwahed codes */